<!doctype html>
<title>Listings</title>
<table>
        <tr>
          <th>Hotel ID</th>
          <th>Hotel Name</th>
          <th>Number of Review</th>
          <th>Address</th>
          <th>Number of Stars</th>
          <th>Amenities</th>
          <th>Image</th>
          <th>Snaptravel Price</th>
          <th>Retail Price</th>
        </tr>
        {% for hotel in hotels %}
        <tr>
          <td>{{hotel.id}}</td>
          <td>{{hotel.hotel_name}}</td>
          <td>{{hotel.num_reviews}}</td>
          <td>{{hotel.address}}</td>
          <td>{{hotel.num_stars}}</td>
          <td>{{hotel.amenities}}</td>
          <td><img src={{hotel.image_url}} style="height: 20em;"></td>
          <td>{{hotel.snap_price}}</td>
          <td>{{hotel.retail_price}}</td>
        </tr>
        {% endfor %}
      </table>