<!doctype html>
<title>Request Listings Form</title>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.city.label }}<br>
        {{ form.city(size=32) }}
    </p>
    <p>
        {{ form.checkin.label }}<br>
        {{ form.checkin(size=32) }}
    </p>
    <p>
        {{ form.checkout.label }}<br>
        {{ form.checkout(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>